.search-bar {
  margin: 20px;
  text-align: center;
}
.search-bar input {
  width: 75%;
}
.video-item img {
  max-width: 64px;
}
.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  background-color: #eee;
}


/* Base Application Styles */
/*
.app {
  color: #666;
  max-width: 500px;
  margin: 0 auto;
}

.todo-item {
  padding: 0.4em 0;
  cursor: pointer;
  color: #333;
  font-size: 20px;
}

.todo-item.done {
  text-decoration: line-through;
}*/
